<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Skirch - strona główna</title>
    <link rel="icon" th:href="@{/assets/img/ski.png}" type="image/x-icon"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <style>
        body {
            background-image: url("/assets/img/bg-masthead.jpg")
        }
    </style>
</head>
<body id="page-top">
<div th:insert="nav-bar"></div>
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Skirch</h1>
                <h4 class="text-white-50 mx-auto mt-2 mb-5">Wyszukiwarka ośrodków narciarskich</h4>
                <a class="btn btn-primary" th:href="@{/user/login}">Zaloguj się</a>
                <br>
                <h6 class="text-white-50 mx-auto mt-2 mb-5">Jeżeli nie masz jeszcze konta przejdź do sekcji <p
                        class="nav-item"><a class="nav-link" th:href="@{/user/registration}"><b>Rejestracja</b></a></p>
                </h6>
            </div>
        </div>
    </div>
</header>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{../static/js/scripts.js}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

