<head>
    <title>OSM and Leaflet</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
</head>
<body>
<div id="map" style="width: 500px; height: 500px"></div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>

    // Creating map options
    var mapOptions = {
        center: [54.233739920483146, 18.102644473362446],
        zoom: 10
    }

    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Adding layer to the map
    map.addLayer(layer);

    // Adding Popout to the map
    L.marker([54.233739920483146, 18.102644473362446]).addTo(map)
        .bindPopup('Wieżyca Koszałkowo<br>pomorskie, Polska<br>https://wiezyca.pl')
        .openPopup();

</script>
</body>
