<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" th:href="@{/}">Strona główna</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" data-bs-toggle="collapse"
                type="button">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/search/by-name}">Wyszukiwanie po nazwie</a></li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdownBlog" role="button">Wyszukiwanie zaawansowane</a>
                    <ul aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/search/by-country}">po kraju</a></li>
                        <li><a class="dropdown-item" th:href="@{/search/by-region}">po regionie</a></li>
                        <li><a class="dropdown-item" th:href="@{/search/by-coordinates}">po koordynatach</a></li>
                    </ul>
                </li>
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/favourite}">Ulubione ośrodki</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/user/login}">Logowanie</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/registration}">Rejestracja</a></li>
            </ul>
        </div>
    </div>
</nav>
