<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="#page-top">Strona główna</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Wyszukiwanie po nazwie</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Wyszukiwanie zaawansowane</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="#">po kraju</a></li>
                        <li><a class="dropdown-item" href="search-region.html">po regionie</a></li>
                        <li><a class="dropdown-item" href="search-coordinates.html">po koordynatach</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Ulubione ośrodki</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Logowanie</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Rejestracja</a></li>

            </ul>
        </div>
    </div>
</nav>
